serverPersona/src/main/resources/wsdl/persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<xs:schema xmlns:tns="http://javatpoint.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://javatpoint.com/">

    <xs:element name="getPersona" type="tns:getPersona"/>
    
    <xs:element name="getPersonaResponse" type="tns:getPersonaResponse"/>
    
    <xs:complexType name="getPersona">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1"/>
            <xs:element name="age" type="xs:int" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getPersonaResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>