cliente/src/main/resources/wsdl/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<xs:schema xmlns:tns="http://javatpoint.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://javatpoint.com/">

<xs:element name="getHelloWorldAsString" type="tns:getHelloWorldAsString"/>

<xs:element name="getHelloWorldAsStringResponse" type="tns:getHelloWorldAsStringResponse"/>

<xs:complexType name="getHelloWorldAsString">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHelloWorldAsStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>