RestSoapMongoDB/src/main/resources/wsdl/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<xs:schema xmlns:tns="http://javatpoint.com/" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           version="1.0" targetNamespace="http://javatpoint.com/" >

    <xs:element name="validateUserAndPass" 
                type="tns:UserRequest"/>
    
    <xs:element name="validateUserAndPassResponse" 
                type="tns:validateUserAndPassResponse"/>
                
    <xs:element name="addUser" type="tns:User"/>
    <xs:element name="addUserResponse" type="tns:addUserResponse"/>

    <xs:element name="username" type="xs:string" minOccurs="1" maxOccurs="1"/>
    <xs:element name="password" type="xs:string" minOccurs="1" maxOccurs="1" />
       
    <xs:complexType name="UserRequest" >
        <xs:sequence>
            <xs:element ref="tns:username"/>
            <xs:element ref="tns:password"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="validateUserAndPassResponse">
        <xs:sequence>
            <xs:element name="id" type="xs:int" minOccurs="1" maxOccurs="1"/>          
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="id" type="xs:int" />
            <xs:element ref="tns:username"/>
            <xs:element ref="tns:password"/>
            <xs:element name="email" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    
        
    <xs:complexType name="addUserResponse"  >
        <xs:sequence>
            <xs:element name="user" type="tns:User" />
            <xs:element name="resp" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
   
</xs:schema>